.fa-file-alt{
    color: rgb(150, 150, 150);
    background: white;
  }

  html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}